html, body {
	margin: 0;
	padding: 0;
}

body{
	font-size: 15px;
	position: relative;
	overflow: hidden;
	letter-spacing: -1px;
	line-height: 1.2;
	font-family: "camforta", "Georgia", "Times New Roman";
	background-color:#fff;
}

body.loaded, .circle.loaded {
	opacity: 1;
}

body, .circle {
	opacity: 0;
	transition: opacity 0.2s ease-in;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 10%;
	background-color: transparent;
}

img.logo {
	width: 60px;
	height: 60px;
}

.logo {
	cursor: pointer;
}

.nav__links a, .cta, .overlay__content a {
	font-family: "camforta", "Georgia", "Times New Roman";
	font-weight: 500;
 	color: #000;
	text-decoration: none;
}
.nav__links a :hover{
	color: #457d3e;
}

.nav__links {
  list-style: none;
 	display: flex;
 	li {
 		padding: 0px 20px;
 		
 		a {
 			transition: color 0.3s ease 0s;
 		}

		a:hover{
			color: #457d3e;
		}
 	}
}

li.active {
	border-bottom: 1px solid #457d3e;
  color: #457d3e;
}



.cta {
	background-color: white;
	border-radius: 50px;
	cursor: pointer;
	color: #457d3e;
	border: 2px solid #457d3e;
	transition: all 0.3s;
	display: flex;
	align-items:center;
	justify-content: center;
	width: 8vw;
	height: 2vw;
}

.cta:hover {
	background-color: #457d3e;
	color: white;
	border: 2px solid white;
}

/* Mobile Nav */

.menu {
	display: none;
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: #457d3e;
	overflow-x: hidden;
	transition: width 0.5s ease 0s;
}

.overlay--active {
	width: 100%;
}

.overlay__content {
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.overlay a {
	padding: 15px;
	font-size: 36px;
	display: block;
	transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
	color: #457d3e;
}
.overlay .close {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
	color: #457d3e;
}

.flex {
	display: flex;
	justify-content: center;
}

div.container {
	width: 1100px;
	min-height: 100vh;
	margin: auto;
	position: relative;
	align-items:center;
}
div.containir {
	width: 1100px;
	height: 5vw;
	margin: auto;
	position: relative;
	align-items:center;
}
div.wrapper {
	overflow: hidden;
	min-height: 100vh;
}
div.main {
	height: calc(100vh + 0vh);
    padding-bottom: 10vh;
}
div.nowrap {
	height: 80vh;
	display: flex;
	margin: auto;
	justify-content: space-evenly;
	align-items:center;
}
div.img{
	display: inline-block;
/*	border: 1px solid black;*/
	width: 30vw;
	height: 50vh;
}
div.imag{
	display: inline-block;
	margin-bottom: 18vw;
/*	border: 1px solid black;*/
	width: 30vw;
	height: 50vh;
}
div.mini-img {
	display: flex;
	justify-content: center;
	overflow-x: scroll;
	margin-left: -6vw;
	width: 40vw;
	height: 10vw;
	&::-webkit-scrollbar {
		display: none;
	}
}
div.descr{
	display: inline-block;
	width: 30vw;
	height: 70vh;
/*	border:1px solid black;*/
}
div.tea_card_form_quantity{
	position: relative;
}
div.dishes_menu {
	padding-bottom: 20px;
	margin-top: -12px;
}
div.dishes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 65vw;
	padding-top: 3vw;
	margin: auto;
}
div.item {
	position: relative;
	border: 2px solid;
	width: 20vw;
	height: 20vw;
	border-radius: 50px;
	margin-bottom: 10vw;
	transition: color .2s ease, box-shadow .3s;
	will-change: color, box-shadow;
	a {
		text-decoration: none;
		position: absolute;
		display: flex;
		align-items:center;
		justify-content: center;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
div.item:hover {
	color: #457d3e;
	img.dishes-img {
		transform: scale(1.05);
	}
}
div.info {
	position: absolute;
	bottom: -72px;
	left: 0;
	right: 0;
}
div.item-price {
	box-sizing:border-box;
    background: #457d3e;
    border-radius: 5px;
    width: 72px;
    height: 36px;
    padding-top: 10px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 15px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
}
div.item-title{
	font-size: 18px;
	text-align: center;
	margin: 22px auto 0;
	color: #000;
}
div.item:hover .item-title {
	color: #457d3e;
}
div.desc {
	opacity: 0;
	max-width: 400px;
	max-height: 170px;
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	background: white;
	box-shadow: rgba(0,0,0,0.3) 1px 1px 10px;
	color: black;
	padding: 1rem 1.5rem;
	transition: 300ms;
	transform: scale(0);
	transform-origin: left top;
	z-index: 100;
	text-align: justify;
}
div.cw{
	display: flex;
	justify-content: center;
	margin: 5vw 2vw;
	width: 26vw;
	height: 5vw;
	h1 {
		position: relative;
		color: green;
	}
}
div.void {
	width: 3vw;
	height: 5vw;
}
div.about {
	width: 40vw;
	margin: auto;
	position: absolute;
	top: 12%;
	right: 10%;
	font-size: 1.5rem;
	line-height: 2;
}

button.cart-btn {
	width: 8vw;
	height: 2vw;
	font-size: 16px;
	border-radius: 50px;
	outline: none;
	color: #457d3e;
	border: 2px solid #457d3e;
	background-color: white;
	transition: all 0.3s;
	&:hover {
	box-shadow: #00000059 6px 5px 10px 0px;
	}
	&:active {
		border:2px solid white;
		background: #457d3e;
		color: white;
		box-shadow: #00000059 6px 5px 10px 0px;
	}
}

button.cart {
	width: 15vw;
  margin-top: 25vw;
  margin-left: 2.5vw;
  height: 2vw;
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid #457d3e;
  background: white;
  color: #457d3e;
  font-family: "camforta", "Georgia", "Times New Roman";
}


li.descr:hover > .desc, .desc:hover {
  opacity: 1;
  transform: scale(1);
}
li.descr {
	display: block;
	h1 {
		font-weight: bold;
		line-height: 46px;
		display: block;
		margin-bottom: 50px;
	}
}

img.main_logo{
	width: 24vh;
	height: 24vh;
    max-width: 250px;
    max-height: 250px;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 100;
}
img {
	user-select: none;
}
img.img {
	width: 28vw;
	height: 28vw;
}
img.mini-img {
	width: auto;
	box-shadow: #00000059 6px 5px 10px 0px;
	margin: auto 2vw;
	height: 80%;
	// border: 2px solid #457d3e;
}
img.dishes-img {
	width: 19.6vw;
	height: 19.6vw;
	transition: transform .2s ease;
	will-change: transform;
}
img.about-img{
	width: 40vw;
	position: absolute;
	top:10%;
	left: 5%;
	height: 40vw;
}

.img-hidden{
	width: 19.6vw;
	height: 19.6vw;
	overflow: hidden;
	border-radius: 50px;
}

h2 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}

p {
	width: 100%;
	word-wrap: break-word;
}

ul.dishes_menu_list {
	font-size: 14px;
	text-align: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		display: inline-block;
		margin: 1vw;
	}
	span {
		display: block;
		padding-top: 6px;
		transition: all 0.2s linear;
	}
	a {
		cursor: pointer;
		text-decoration: none !important;
		color: #000 !important;
	}
}
ul.circle {
	list-style-type: none;
	width: 44vw;
	height: 44vw;
	position: relative;
	background-color: white;
	border-radius: 50%;
	transform: rotate(90deg);
	margin-bottom: 20vh;
}

ul.circlex2 {
	list-style-type: none;
	width: 43vw;
	height: 43vw;
	position: relative;
	background-color: white;
	border-radius: 50%;
	margin-bottom: 20vh;
}

ul.circlex3 {
	width: 43vw;
	height: 43vw;
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    transform: rotate(90deg);
    z-index: 40;
    margin-bottom: 20vh;
}

ul.circlex4 {
	width: 43vw;
	height: 43vw;
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    transform: rotate(90deg);
    z-index: 40;
    margin-bottom: 20vh;
}

ul.circlex5 {
	width: 43vw;
	height: 43vw;
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    transform: rotate(90deg);
    z-index: 40;
    margin-bottom: 20vh;
}

li.piece {
	border: 2px solid #fff;
	position:absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 50%;
	height: 50%;
	transform-origin: 100% 100%;
	font-size: 18px;
	transform: rotate(300deg) skew(30deg);
	text-transform: uppercase;
}

li.piecex2 {
	display: inline-block;
	vertical-align: top;
	border: 2px solid #fff;
	position:absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 50%;
	height: 100%;
	transform-origin: 100% 100%;
	font-size: 18px;
	text-transform: uppercase;
}

li.piecex3 {
	display: inline-block;
	vertical-align: top;
	border: 2px solid #fff;
	position:absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 50%;
	height: 50%;
	transform-origin: 100% 100%;
	font-size: 18px;
	text-transform: uppercase;
}

li.piecex4 {
	border: 2px solid #fff;
	position:absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 50%;
	height: 50%;
	transform-origin: 100% 100%;
	font-size: 18px;
	text-transform: uppercase;
}

li.piecex5 {
	border: 2px solid #fff;
	position:absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 50%;
	height: 50%;
	transform-origin: 100% 100%;
	font-size: 18px;
	text-transform: uppercase;
}

.piece span{
	text-decoration: none !important;
	color: #000 !important;
}

.piecex2 span{
	text-decoration: none !important;
	color: #000 !important;
}

.piecex3 span{
	text-decoration: none !important;
	color: #000 !important;
}

.piecex4 span{
	text-decoration: none !important;
	color: #000 !important;
}

.piecex5 span{
	text-decoration: none !important;
	color: #000 !important;
}

.piece:nth-child(1) {
	transform: rotate(300deg) skew(30deg);
}
.piece:nth-child(1) span {
	transform: rotate(-390deg);
}
.piece:nth-child(2) {
	transform: rotate(0deg) skew(30deg);
}
.piece:nth-child(2) span {
	transform: rotate(-90deg);
}
.piece:nth-child(3) {
	transform: rotate(60deg) skew(30deg);
}
.piece:nth-child(3) span {
	transform: rotate(-150deg);
}
.piece:nth-child(4) {
	transform: rotate(120deg) skew(30deg);
}
.piece:nth-child(4) span {
	transform: rotate(-210deg);
}
.piece:nth-child(5) {
	transform: rotate(180deg) skew(30deg);
}
.piece:nth-child(5) span {
	transform: rotate(-270deg);
}
.piece:nth-child(6) {
	transform: rotate(240deg) skew(30deg);
}
.piece:nth-child(6) span {
	transform: rotate(-330deg);
}

.piecex2:nth-child(2) {
	transform: scaleX(-1);
}
.piecex2:nth-child(2) span {
	transform: scaleX(-1);
}

.piecex3:nth-child(1) {
	transform: rotate(240deg) skew(-30deg);
}
.piecex3:nth-child(1) span {
	transform: rotate(-360deg);
}
.piecex3:nth-child(2) {
	transform: rotate(0deg) skew(-30deg);
}
.piecex3:nth-child(2) span {
	transform: rotate(-120deg);
}
.piecex3:nth-child(3) {
	transform: rotate(120deg) skew(-30deg);
}
.piecex3:nth-child(3) span {
	transform: rotate(-240deg);
}

.piecex4:nth-child(1) {
	transform: rotate(270deg) skew(0deg);
}
.piecex4:nth-child(1) span {
	transform: rotate(-360deg);
}
.piecex4:nth-child(2) {
	transform: rotate(0deg) skew(0deg);
}
.piecex4:nth-child(2) span {
	transform: rotate(-90deg);
}
.piecex4:nth-child(3) {
	transform: rotate(90deg) skew(0deg);
}
.piecex4:nth-child(3) span {
	transform: rotate(-180deg);
}
.piecex4:nth-child(4) {
	transform: rotate(180deg) skew(0deg);
}
.piecex4:nth-child(4) span {
	transform: rotate(-270deg);
}

.piecex5:nth-child(1) {
	transform: rotate(288deg) skew(18deg);
}
.piecex5:nth-child(1) span {
	transform: rotate(-380deg);
}
.piecex5:nth-child(2) {
	transform: rotate(0deg) skew(18deg);
}
.piecex5:nth-child(2) span {
	transform: rotate(-90deg);
}
.piecex5:nth-child(3) {
	transform: rotate(72deg) skew(18deg);
}
.piecex5:nth-child(3) span {
	transform: rotate(-160deg);
}
.piecex5:nth-child(4) {
	transform: rotate(144deg) skew(18deg);
}
.piecex5:nth-child(4) span {
	transform: rotate(-235deg);
}
.piecex5:nth-child(5) {
	transform: rotate(216deg) skew(18deg);
}
.piecex5:nth-child(5) span {
	transform: rotate(-305deg);
}

span.visible{
	opacity: 0;
}

a:hover span, a:target span{
	color: inherit;
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
}

.circle span {
	width: 19%;
	height: 19%;
	border-radius: 50%;
	position: absolute;
	text-align: center;
	top: 18%;
	left: 2%;
	align-items:center;
	background-color: rgba(217, 222, 116, 0.95);
}

.circlex2 span {
	text-align: center;
	width: 19%;
	height: 19%;
	border-radius: 50%;
	position: absolute;
	top: 38%;
	left: 2%;
	align-items:center;
	background-color: rgba(217, 222, 116, 0.95);
}

.circlex3 span {
	text-align: center;
	width: 19%;
	height: 19%;
	border-radius: 50%;
	position: absolute;
	top: 24%;
	left: 8%;
	align-items:center;
	background-color: rgba(217, 222, 116, 0.95);
}

.circlex4 span {
	text-align: center;
	width: 19%;
	height: 19%;
	border-radius: 50%;
	position: absolute;
	top: 10%;
	left: 10%;
	align-items:center;
	background-color: rgba(217, 222, 116, 0.95);
}

.circlex5 span {
	text-align: center;
	width: 19%;
	height: 19%;
	border-radius: 50%;
	position: absolute;
	top: 18%;
	left: 2%;
	align-items:center;
	background-color: rgba(217, 222, 116, 0.95);
}

.circle a {
	display: inline-block;
	width: 200%;
	height: 200%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 96% 96%;
	position: absolute;
	top: 0;
	left: 0;
	transform: skew(-30deg) rotate(0deg);
	transition: all 0.2s linear;
}

.circlex2 a {
	display: inline-block;
	width: 200%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 85% 80%;
	position: absolute;
	top: 0;
	left: 0;
}

.circlex3 a {
	display: inline-block;
	width: 200%;
	height: 200%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 85% 80%;
	position: absolute;
	top: 0;
	left: 0;
	transform: skew(28deg) rotate(28deg);
	transition: all 0.2s linear;
}

.circlex4 a {
	display: inline-block;
	width: 200%;
	height: 200%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 96% 96%;
	position: absolute;
	top: 0;
	left: 0;
	transform: skew(0deg) rotate(0deg);
	transition: all 0.2s linear;
}

.circlex5 a {
	display: inline-block;
	width: 200%;
	height: 200%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 96% 96%;
	position: absolute;
	top: 0;
	left: 0;
	transform: skew(-18deg) rotate(0deg);
	transition: all 0.2s linear;
}

.green {
	color: green;
}

.dark-green {
	color: darkgreen;
}

@media screen and (max-height: 450px) {
	.overlay a {
    	font-size: 20px;
  	}
  	.overlay .close {
    	font-size: 40px;
    	top: 15px;
    	right: 35px;
  	}
}

@media only screen and (max-width: 800px) {
  	.nav__links,
  	.cta {
    	display: none;
  	}
  	.menu {
    	display: initial;
  	}
}

@font-face {
	font-family: camforta;
	src: url("../fonts/camforta.ttf");
	font-style: normal;
	font-weight: normal;
}

*::before {
	box-sizing: border-box;
	display: block;
	position: absolute;
	content: "";
}

*::after {
	box-sizing: border-box;
	display: block;
	position: absolute;
	content: "";
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}